<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block>
    <form th:action="@{/}" th:object="${user}" method="post">
    <table>
        <tr>
            <td>First Name</td>
            <td><input type="text" th:field="*{firstName}"></td>
            <td th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></td>
        </tr>
        <tr>
            <td>First Name</td>
            <td><input type="text" th:field="*{lastName}"></td>
            <td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></td>
        </tr>
        <tr>
            <td>Phone Name</td>
            <td><input type="text" th:field="*{phoneNumber}"></td>
            <td th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></td>
        </tr>
        <tr>
            <td>Age</td>
            <td><input type="text" th:field="*{age}"></td>
            <td th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="text" th:field="*{email}"></td>
            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Save User"></td>
        </tr>
    </table>
    </form>
</th:block>
</body>
</html>
